$white: #FFFFFF;
$opacity1: #00000029;
$green: #0C722A;
$dark-green: #2E4837;
$black: #000000;
$off-white: #FEFFFC;
$opacity2: #0000001A;
$dark-gray: #707070;
$pine-green: #154734;
$brown: #471515;
$light-green: #609A1B;
$ice: #F0F0F0;
$dark-blue: #3E579B;
$light-white: #FEFEFE;
$opacity3: #00000026;
$blue: #155AA0;
$gray: #8E8E8E;
$opacity4: #00000086;
