.card{

    &__section-title{
        color: #471515;
        margin: 0 0 45px 15px;
    }

    &__container{
        display: flex;
        flex-flow:column;
        padding: 15px 30px 0;
        border: 1px solid #7070705c;
        margin: 15px;
        border-radius: 25px;

        &::before{
            content: "Bebês";
            color: white;
            font-size: 15px;
            text-align: center;
            vertical-align: middle;
            background: #155AA0;
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
    }

    &__image{
        border-bottom: 1px solid #7070705c;
    }

    &__title{
        color: #609A1B;
        text-align: center;

        &-green{
            font-size: 20px;
            color: #154734;
            text-transform: uppercase;
        }
    }

    &__subtitle{
        margin: 0;
        color: #609A1B;
        text-align: center;
        font-size: 20px;
    }

    &__paragraph{
        text-align: center;

        &-uppercase{
            text-transform: uppercase;
        }
    }

    &__text-small{
        font-size: 10px;
    }

    &__button{
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background-color: #609A1B;
        padding: 15px 80px;
        border-radius: 25px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}