.menu{

    @media (min-width:1024px) {
        display: flex;
        justify-content: space-around;
        padding: 10px;
        align-items: flex-end;
    }
    &__container{
        margin: 0;
        padding: 20px;
        display: none;
        list-style: none;
    }

    &__icon{
        display: flex;

        &-button{
            font-size: 2rem;
            color: #609A1B;
            margin: 20px 0px 20px 20px;
            cursor: pointer;

            @media (min-width:1024px) {
                display: none;
            }
        }
    }

    &__logo{
        margin: auto;
    }

    &__item{
        display: none;
        padding: 0 15px;

        @media (min-width:1024px) {
            display: inline-block;
        }

        &Link{
            text-decoration: none;
            text-transform: uppercase;
            color: #0C722A;
        }
    }
}

.novalgina-image{
    width: 150px;
    display: flex;
    justify-content: center;
}