.sanofi{
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #d8d8d8;

        @media (min-width:1024px) {
            padding-right: 10%;
        }

    &__logo{
        width: 100px;
        margin: 10px;
        }
    }
